:root {
--primary-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif; 

--ocean-button-color: #404BBF; 
--iris-button-color: #4D5AE5;

--navy-blue-color: #2E2F42;
--green-color: #31D0AA;
--slate-color: #434455;
--light-slate-color: #8E8F99;
--cornflower-color: #E7E9FC;
--cloud-background-color: #F4F4FD;
--white-color: #ffffff;
--dairy-color: #FCFCFC;

} 

/* ==================ul and link style configuration================== */
.list {
  list-style: none;
  /* ... */
}


.link {
  text-decoration: none;
  /* ... */
}
/* ==================/ul and link style configuration================== */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
}

/* ==========================HEAD ========================== */

/* Web logo part*/
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: ExtraBold;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/* studio logo part */
.studio-logo {
  font-family: "Raleway", sans-serif;
  font-style: ExtraBold;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:is(:hover, :focus),
.email:is(:hover, :focus) {
  color: #404bbf;
}

.email {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.phone-number {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* ==========================/HEAD ========================== */


/* ==========================HERO ========================== */
.hero {
  background-color: #2e2f42;
}

/* text hero 1 */
.section-description {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Button Text */
.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
}



.order-button:is(:hover, :focus) {
  color: var(--iris-button-color, #ffffff);
  background-color: #404bbf;
}

/* ==========================/HERO ========================== */



/* ==========================Scroll-section========================== */
.scroll-section {

  
}

/* ==========================/Scroll-section========================== */
