:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Pressed state > CTAs */
  --ocean-button-color: #404bbf;
  /* Primary Brand > CTAs, Focused, Active, states, Links */
  --iris-button-color: #4d5ae5;

  /* Hero background > Hero image background, Modal overlay, Overlay.
  Dark > Overlays, Shadows, Headings */
  --navy-blue-color: #2e2f42;
  /* Success > Valid fields, Success messages */
  --green-color: #31d0aa;
  /* Text > Body text */
  --slate-color: #434455;
  /* Subtle Text > Helper text, Deemphasized text */
  --light-slate-color: #8e8f99;
  /* Accent > Accent color, Hairlines, Subtle backgrounds*/
  --cornflower-color: #e7e9fc;
  /* Light > Light mode backgrounds. Light mode Dialogs/alerts */
  --cloud-background-color: #f4f4fd;
  /* White background > Header,  team card background */
  --white-color: #ffffff;
  /* Modal background  */
  --dairy-color: #fcfcfc;
}

/* ==================ul and link style configuration================== */
.list {
  list-style: none;
  /* ... */
}

.link {
  text-decoration: none;
  /* ... */
}
/* ==================/ul and link style configuration================== */

body {
  font-family: "Roboto", "Times New Roman", sans-serif;
  background-color: #ffffff;
  font-weight: 500;
  color: var(--slate-color);
}

/* ==========================HEAD ========================== */

/* Web logo part*/
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: ExtraBold;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-button-color);
}

/* studio logo part */
.studio-logo {
  font-family: "Raleway", sans-serif;
  font-style: ExtraBold;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue-color);
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}

.menu-link:is(:hover, :focus),
.email:is(:hover, :focus) {
  color: var(--ocean-button-color);
}

.email {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ocean-button-color);
}

.phone-number {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

/* ==========================/HEAD ========================== */

/* ==========================HERO ========================== */
.hero {
  background-color: #2e2f42;
}

/* text hero 1 */
.section-description {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Button Text */
.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
}

.order-button:is(:hover, :focus) {
  color: var(--iris-button-color, #ffffff);
  background-color: #404bbf;
}

/* ==========================/HERO ========================== */

/* ==========================Scroll-section========================== */
.scroll-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue-color);
}

.scroll-title-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate-color);
}

.title-pages {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue-color)
}

/* ==========================/Scroll-section========================== */

/* ==========================portfolio========================== */

.but-list {
  font-style: Medium;
  font-size: 16px;
  line-height: 1.5;
  text-align: Center;
  vertical-align: Center;
  /* color: var(--iris-button-color); */
}

.but-list-item:is(:hover, :focus) {
  color: var(--cornflower-color, #ffffff);
  background-color: var(--iris-button-color);
  cursor: pointer;
}
